<h1>首頁</h1>



<% if model_signed_in? %>
    <%= current_model.email%>
    <%= link_to '登出', destroy_model_session_path , method:'delete' %>
<% else %>

    <%= link_to '登入', new_model_session_path %>

    <%= link_to '註冊', new_model_registration_path %>

<% end %>


